<%- include header.ejs %>

<script type="text/javascript">

    var oBoard = new sBoard();
    oBoard.setBoard(<%=tid%>, <%=page%>, 10);
    oBoard.retriveData();

</script>


<script id="parentList" type="text/x-jquery-tmpl">
 <!-- data-toggle="collapse" data-target="#collapse${seq}" -->
    <div class="panel panel-info" id="parentCollapse${seq}">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9">
                            <h4 class="panel-title">#${seq} <span class="badge">3</span></h4>
                        </div>
                        <div class="col-md-3 text-center">
                            ${ userid} / ${regdate}
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col-md-12">
                            ${content}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button data-seq="${seq}" data-handleMode="remove"><span class="glyphicon glyphicon-remove"></span> 삭제</button>
                            <button data-toggle="collapse" data-target="#collapse${seq}">답변보기</button>
                            <button data-seq="${seq}" data-handleMode="newreply"> <span class="glyphicon glyphicon-folder-open"></span> 답변등록 </button>
                        </div>
                    </div>
                </div>

                <div id="collapse${seq}" class="panel-collapse collapse">
                    <div class="panel-body">
                    </div>
                </div>
    </div>
</script>

<script id="childList" type="text/x-jquery-tmpl">
   <!-- 이렇게 한세트 -->
   <div class="well">
       <!-- 번호 / 작성자 -->
       <div class="row">
           <div class="col-md-9">#${seq}</div>
           <div class="col-md-3 text-right">${userid} / ${regdate} </div>
       </div>

       <div class="divider"></div>

       <!-- 내용부분 -->
       <div class="row">
           <div class="col-md-12">
               ${content}
           </div>

           <div class="row">
               <div class="col-md-12 text-right">
                    <button data-seq="${seq}" data-handleMode="remove"><span class="glyphicon glyphicon-remove"></span> 삭제</button>
               </div>
           </div>
       </div>
   </div>
    <!--//한세트끝-->
</script>


<div class="container-fluid" style="padding-top:60px;">

    <div class="container">
        <div class="row" style="padding: 20px;">
            <div class="well well-sm"><strong><%=tutorialTitle%></strong> 질문 게시판 입니다. </div>
        </div>

        <div class="row" style="padding: 10px;">
            <div class="col-md-12">
                <textarea id="newArticleContent" class="form-control" rows="5" placeholder="질문을 작성해보세요."></textarea>
            </div>

            <div class="col-md-12 text-right" style="margin-top:5px;">
                <button class="btn btn-default" onclick="void(oBoard.writeArticle(<%=tid%>));">질문 작성</button>
            </div>
        </div>

        <div class="panel-group">
        </div>


        <!-- pagination -->
        <div id="sPagination" class="center-block text-center">
        <ul class="pagination"></ul>
        </div>

    </div>


</div>




<!-- 답글 작성 Modal -->
<div class="modal fade" data-parentSeq='' id="replyArticleModal" tabindex="-1" role="dialog" aria-labelledby="replyArticleModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="margin-top: 5%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><span></span> 에 대한 답변 등록</h4>
            </div>
            <div class="modal-body">
                <label for="replyContent">답변 내용</label>
                <textarea id="replyContent" class="form-control" rows="5"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" onclick="void(oBoard.writeReplyArticle(<%=tid%>));">답변 등록</button>
            </div>
        </div>
    </div>
</div>
<!-- // 답글 작성 Modal -->




<%- include footer.ejs %>